Repository tzervas/kagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: trivy-config, docker-security-scan, kube-security, dependency-scan

trivy-config:
  name: trivy config scan (IaC security)
  entry: trivy config --exit-code 1 --severity HIGH,CRITICAL .
  language: system
  pass_filenames: false

docker-security-scan:
  name: docker image security pre-scan
  entry: scripts/hooks/docker-security-scan.sh
  language: script
  pass_filenames: false

kube-security:
  name: kubernetes manifest security scan
  entry: scripts/hooks/kube-security-scan.sh
  language: script
  pass_filenames: false

dependency-scan:
  name: dependency vulnerability scan
  entry: scripts/hooks/dependency-scan.sh
  language: script
  pass_filenames: false

feat: add comprehensive local test automation mirroring CI workflows
  docs/LOCAL_DEVELOPMENT.md
  scripts/test/run-e2e-local.sh
Due: none

docs: add branch strategy comparison and rationale
  docs/branch-strategy-comparison.md
Due: none

feat: implement comprehensive enhanced development security hooks
  .pre-commit-config.yaml
Due: trivy-config

feat: add gitleaks as development dependency
  Makefile
Due: none

feat: implement mirror-only pre-commit hooks for local development
  .pre-commit-config.yaml
Due: trivy-config

feat: streamline enhanced security config by removing CI-mirror hooks
  .gitleaksignore
  .pre-commit-config.yaml
  docs/enhanced-dev-security.md
Due: trivy-config

docs: add reference to enhanced security features in development guide
  DEVELOPMENT.md
Due: none

fix: apply markdownlint formatting to development documentation
  DEVELOPMENT.md
Due: none

Update .devcontainer/Dockerfile
  .devcontainer/Dockerfile
Due: docker-security-scan

feat: add comprehensive local test automation mirroring CI workflows (#4)
  docs/LOCAL_DEVELOPMENT.md
  scripts/test/run-e2e-local.sh
Due: none

ci: convert workflows to workflow_dispatch-only
  .github/workflows/ci.yaml
  .github/workflows/image-scan.yaml
  .github/workflows/lint-python.yaml
  .github/workflows/tag.yaml
  .github/workflows/tools_tests.yaml
Due: trivy-config

ci: route linux x64 jobs to self-hosted podman fleet
  .github/workflows/ci.yaml
  .github/workflows/image-scan.yaml
  .github/workflows/label-pull-requests.yml
  .github/workflows/lint-python.yaml
  .github/workflows/run-agent-framework-test.yaml
  .github/workflows/tag.yaml
  .github/workflows/test.yaml
  .github/workflows/tools_tests.yaml
Due: trivy-config

Path conditions:
  trivy-config: any of: \.(yaml|yml|json|tf|dockerfile)$
  docker-security-scan: any of: Dockerfile.*
  kube-security: any of: (helm/.*|.*k8s.*)\.(yaml|yml)$
  dependency-scan: any of: (go\.mod|package\.json|requirements\.txt|Cargo\.toml)$
